altgraph==0.17.4
chardet==5.2.0
DateTime==5.5
fpdf==1.7.2
hide==0.1.1.7
macholib==1.16.3
numpy==2.1.2
packaging==24.2
pandas==2.2.3
pdfrw==0.4
pillow==11.0.0
prompt_toolkit==3.0.48
psycopg2==2.9.10
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pyqt-connector==2.9.9
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
reportlab==4.2.5
setuptools==75.2.0
six==1.16.0
tzdata==2024.2
wcwidth==0.2.13
zope.interface==7.1.1
